* {
    background-color: darkgray;
    border: 1px solid blueviolet
    
}
h1 {
    padding-left: 500px;
    background-color: aquamarine;
}
h2 {
    padding-top: 50px;
    padding-left: 550px;
    background-color: burlywood;
}
p1 {
    padding-right: 100px;
    padding-left: 300px;
    text-decoration-color: brown;
}
p2 {
    border: 200px;
    padding-left: 500px;
}
p3 {
    padding-left: 700px;
}
ul {
    padding-right: 100px;
    padding-left: 100px;
    background-color: coral;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.greenTextPlease {
    color: green;
}

#main-heading {
    font-family: 'Times New Roman', Times, serif;

}
ol {
    padding-left: 500px;
}

#main-heading:hover {
    color: gold;
}